$color-grey-light: #ebebeb;
$color-light: #444444;
$color-grey-medium: #8F8F8F;
$color-grey-dark: rgb(63, 63, 63);
$color-black: #000;
$color-white: #fff;
$color-blue-light: #20c9c9;
$color-primary: rgb(190, 4, 97);
$color-beige: rgb(255, 242, 213);
$color-green: rgb(54, 190, 65);
$color-error: rgb(255,0,0);


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;



$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;

$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);