
/*---------------------------------*\
    #FOOTER
\*---------------------------------*/

.footer {
    text-align: center;
    font-size: 80%;
    background-color: $color-grey-light;
    padding: 6px 0;
}




