/*---------------------------------*\
    #HEADER
\*---------------------------------*/

.sb-header {
    height: $header-height;      // ~ 68px
    text-transform: capitalize; 

    @include bottom-shadow(0px, 1px, 12px, -1px, theme-color('foreground', 'light'));

    @include respond(tablet-landscape-up) {        // 801px

        font-size: 1.2rem;
    }

    @include respond(desktop-up) {         // 1025px
        font-size: 1.8rem;  
    }

    @include respond(big-desktop-up) {     //1281px
        font-size: 2rem; 
    }
}


.header {
    background-color: theme-color('background', 'light');
    padding: .8rem;
    font-size: 1.6rem;
    font-weight: 500;
}