.bgcolor {
    background-color: $color-grey-light;
}

.bg-color-change {

    @include respond(tablet-portrait-up) {    // @600px
        background-color: $color-grey-light;
   }
   background-color: $color-white;
}

.active {
    background-color: theme-color('primary', 'base');  // #000;
}

.deactive {
    background-color: theme-color('foreground', 'light');
}

.dark-bg {
    background-color: $color-black;
}
