/*---------------------------------*\
    #UTILITIES
\*---------------------------------*/


.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-left {
    text-align: left;
}
.menu-list {
    list-style-type: none;
}

.hide { 
    display: none;
}
.hide-below-desktop {
    @include respond(desktop-up) {   
        display: none !important;    }
}
.hide-on-mobile {
    display: none !important;
}
.hide-on-tablet {
    @include respond(tablet-portrait-up) {    
        display: none !important;
    }
}

.show { 
    display: block;
}
.show-on-tablet {
    @include respond(tablet-portrait-up) {    
        display: block !important;
    }
}
.show-sidemenu-on-tablet {
    @include respond(tablet-portrait-up) {    
        display: inline-block !important;
    }
}
.show-on-desktop {

    @include respond(tablet-landscape-up) {    
        display: inline-block !important;
    }

    display: none !important;

}

