/**
 * Dropdown on PLP(products) page
 **/


.option-content {
    padding: .5rem .5rem;
}

.option-content-tab-display {

    @include respond(tablet-landscape-up) {
        display: flex;
        flex-wrap: wrap;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.dropdown-container {
    position: relative;

    .fa-angle-down{
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 4rem;
    }

    .dropdown-list {
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 2rem 1.4rem;
        background-color: theme-color('primary', 'base');
        color: theme-color('tertiary', 'base');
        font-size: 1.6rem;
        font-weight: 600;
        /* position: absolute; */
    }

    select{

        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    /* For IE10 */
    select::-ms-expand {
        display: none;
    }
}