.hamburger-menu-body {
    font-size: 2.4rem;
    text-transform: capitalize;

    position: absolute;
    width: 100%;
    z-index: 101;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include alpha-attribute('background-color', rgba(black, 0.85), white);
    background-color: theme-color('background', 'base');    /* IE 6-10 ignores this rgba format*/
    color: $color-white;

    height: 100vh;

    ul {
        width: 100%;
        text-align: center;

        li {
            width: 100%;
            padding: 2rem;
            position: relative;
                
            color: theme-color('background','light');
            transition: all .3s ease;

            &:hover {
                cursor: pointer;
                background-color: theme-color('primary', 'base');
            }
            &:hover a {
                color: theme-color('background','light');
            }

            &:hover img {
                color: theme-color('background','light');
            }
    
            //for border bottom below each menu item
            // &::after {
            //     content: "";
            //     width: 30%;
            //     position: absolute;
            //     top: 100%;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     margin: 0 auto;
            //     border: .4px solid black;
            // }
        
        }
        
    }

    &__cart {
        // background-color: $color-grey-light;
       display: flex;
       justify-content: space-around;

       &-link {
           display: flex;
           align-items: center;
       }
    }

}