
.card {
    display: flex;
    justify-content: space-around;
    padding: 6rem 1rem;
    align-items: center;
    position: relative;

    -moz-border-radius:	 0 0 6px 6px; /* FF1+ */
    -webkit-border-radius:	0 0 6px 6px; /* Saf3+, Chrome */
    border-radius:	0 0 6px 6px; /* Opera 10.5, IE 9 */

    @include respond(tablet-portrait-up) {
        padding: 8rem 2rem;
    }

    &:nth-child(2n) {   //even child
        flex-direction: row-reverse;

        .card__content {
            margin-right: 1rem;
        }
    }

    &:nth-child(2n+1) {     //odd child
        .card__content {
            margin-left: 1rem;
        }
    }
    
    &__img {
        width: 40%;

        img {
            width: 100%;
            margin: 0 auto;
            display: block;

            @include respond(tablet-portrait-up) {  
                width: 24rem;
            }
         }
    }


    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;

        h2 {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
            text-transform: capitalize;
            color: theme-color('foreground', 'dark');

            @include respond(tablet-portrait-up) {  
                font-size: 3.2rem;
            }
        }
        
        span {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 1rem 1rem 2rem;
            text-align: center;

            @include respond(tablet-portrait-up) { 
                margin: 1.4rem 1.4rem 2.4rem; 
                font-size: 1.8rem;
            }
        }
        
        &__btn {
            
            @include respond(tablet-portrait-up) {  
               
            }
        }
    }
 }


 
 .card::after {
    
    content: "";
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 75%);
    height: 8px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: -1;

 }
