
.sidemenu-container {

    @include respond(tab-port) {    // @600px
        width: 16rem;
        font-size: 1.6rem;
    }

    @include respond(desktop) {    // @600px
        width: 18rem;
    }

    .side-menu {
        li {
            padding: 2rem 1.6rem;
            border-bottom: 1px solid rgb(180, 180, 180);
            background-color: rgb(235, 235, 235);
            color: rgb(63, 63, 63);;
            transition: all .3s ease;
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(196, 194, 194);
            color: #fff;
        }
    }


}