

.nav-sub {
    background-color: theme-color('background', 'dark');
}

.sidemenu-container {
   
    @include respond(tablet-portrait-up) {    // @600px
        width: 16rem;
        font-size: 1.6rem;
    }

    @include respond(desktop-up) {    // @600px
        width: 18rem;
    }

    .side-menu {

        li {
            padding: 2rem 1.6rem;
            border-bottom: 1px solid  theme-color('foreground','light');
            background-color: theme-color('background', 'dark');
            color: theme-color('background','light');
            transition: all .3s ease;

            &:hover {
                cursor: pointer;
                background-color: theme-color('primary', 'base');
            }
            &:hover a {
                color: theme-color('background','light');
            }

        }

        
    }


}