/*---------------------------------*\
    #COMMON STYLES
    In here, you will find some standard styles 
    for commonly used HTML elements.
\*---------------------------------*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;   
    box-sizing: inherit; 
}

html {

    // This defines what 1rem is. The default font-size on browsers is 16px
    font-size: 50%;   //1 rem = 8px; 8px/16px = 50%

    @include respond(tablet-portrait-up) {
       font-size: 50%;  //1 rem = 8px; 8px/16px = 50%
    }

    @include respond(tablet-landscape-up) {
    font-size: 56.25%;   //1 rem = 9px; 9px/16px = 56.25%
    }

    @include respond(desktop-up) {
    font-size: 62.5%;  //1 rem = 10px; 10px/16px = 62.5%
    }

    @include respond(big-desktop-up) {
    font-size: 75%;  //1 rem = 12 px; 12px/16px = 75%
    }

}

body {
    font-family: $font-family;
    box-sizing: border-box;
    background-color: theme-color('background', 'light');
}


.anchor, a{
    text-decoration: none;
}


.noscript {
    padding: 2rem;
    border: 1px solid $color-primary;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

