/*---------------------------------*\
    #UTILITIES
\*---------------------------------*/


.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.menu-list {
    list-style-type: none;
}

.bgcolor {
    background-color: $color-grey-light;
}

.bg-color-change {

    @include respond(tab-port) {    // @600px
        background-color: $color-grey-light;
   }
   
   background-color: $color-white;
}

.hide { 
    display: none;
}

.hide-below-desktop {
    display: none;
}

.hide-on-mobile {
    display: none;
}

.hide-on-tablet {
    @include respond(tab-port) {    // @600px
        display: none;
    }
}

.show { 
    display: block;
}

.show-on-tablet {
    @include respond(tab-port) {    // @600px
        display: block;
    }
}

.show-sidemenu-on-tablet {
    @include respond(tab-port) {    // @600px
        display: inline-block;
    }
}

.show-on-desktop {

    @include respond(tab-landscape) {    // @ 801px
        display: inline-block;
    }

    display: none;

}

.modal-open {
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.dark-bg {
    background-color: $color-black;
}

.text-bold {
    font-weight: 800;
}

.text-light {
    font-weight: 300;
} 

.text--medium {
    font-size: 2.8em;
}

.text--small { 
    font-size: 1.8em;
}

