/*---------------------------------*\
    #UTILITIES
\*---------------------------------*/


.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.menu-list {
    list-style-type: none;
}