
//mixin for letting older browsers understand color with opacity
@mixin alpha-attribute($attribute, $color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
  }


@mixin darken-color($attribute, $base_color) {
  $color-dark: darken($base_color, 30%);
  #{$attribute}: $color-dark;
}