
.login-content {
    color: theme-color('foreground', base);
    
    @include respond(tablet-portrait-up) {    // @ 600px
        .login-flex-container {
            .register__header {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 2rem;

                .main__heading {
                    color: theme-color('foreground', 'base');
                }
                .main__sub-text {
                    color: theme-color('foreground', 'light');
                }
            }
        }
    }
}